*
{
  box-sizing: border-box;
  font-family: 'Martian Mono', monospace;
  font-size: 12;
  background-color: rgb(244, 244, 244);
}

.body {
  position:absolute;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  width: 100%;
  margin: 20px auto;
  columns: 4;
  column-gap: 10px;
}

.container .box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.description-container {
  width: 100%;
  margin-top: 0px;
  columns: 4;
  column-gap: 10px;
  height: 50%;
}

.description-container .description-box {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.description-container .description-box ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-right: 150px;
}

.description-container .description-box ul li {
  list-style: none;
  background-color: rgb(242, 242, 242);
  padding: 1px 1px 1px 1px;
  margin: 3px 30px 3px 3px;
  cursor: pointer;
}

.description-container .description-box ul li.active {
  background-color: rgb(0, 0, 0);
  color: rgb(244, 244, 244);
}

.description-container .description-box img {
  max-width: 50%;;
}

.container .box img {
  max-width: 100%;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .container {
    columns: 3;
  }
.description-container {
    columns: 3;
  }
}

@media (max-width: 768px) {
  .container {
    columns: 2;
  }
  .description-container {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .container {
    columns: 1;
  }
  .description-container {
    columns: 1;
    text-align: center;
  }

  .description-container .description-box img {
    max-width: 100%;;
  }
}








